In [ ]:
# Answer 1

list1=[]
for i in range(10):
  ele=int(input())
  
  if ele % 2 == 0:
    list1.append(ele)
  else:
    pass

print(list1)

1
3
5
7
9
13
17
21
8
4
[8, 4]

In [ ]:
# Answer 2

# LIST COMPREHENSION

In [ ]:
# Answer 3

n = int(input())
dic = dict()

for i in range(1,n+1):
  dic[i]=i*i
print(dic)

4
{1: 1, 2: 4, 3: 9, 4: 16}